@model FagElGamousExcavation.Models.C14Data

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>C14Data</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C14Pk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C14Pk)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocSummary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocSummary)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UniqId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UniqId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rack)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rack)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowPairNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowPairNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighPairNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighPairNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocationNs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocationNs)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LowPairEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LowPairEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighPairEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighPairEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialLocationEw)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialLocationEw)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialSubplot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialSubplot)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Area)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Area)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BurialNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BurialNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Rack2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Rack2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TubeNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TubeNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Size)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Size)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Foci)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Foci)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.C14Sample2017)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.C14Sample2017)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Questions)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Questions)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Conventional14cAgeBp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Conventional14cAgeBp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Column25)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Column25)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model._14cCalendarDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model._14cCalendarDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMax)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateMax)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateMin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateMin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateSpan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateSpan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Calibrated95CalendarDateAvg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Calibrated95CalendarDateAvg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Column33)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Column33)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.C14Pk2">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
