@model FagElGamousExcavation.Models.ViewModel.AllDataViewModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-4">
       <partial name="FilterSummary" model="Model.Filter"/>
    </div>
    <div class="col-8">
        <h1>All Data</h1>

        <table class="table">
            <thead>
                <tr>
                    <th>
                        Burial Location (ID)
                    </th>
                    <th>
                        Burial Location Summary
                    </th>
                    <th>
                        Burial Situation
                    </th>
                    <th>
                        Gender
                    </th>
                    <th>
                        Hair Color
                    </th>
                    <th>
                        Estimated Age
                    </th>
                    <th>
                       Year Found
                    </th>
                    <th>
                        Burial Direction
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AllData)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialLocSummary)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialSituation)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.GenderCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.HairColorCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimateAgeSingle)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.YearFound)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BurialDirection)
                        </td>
                        
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <td>
                                <a asp-action="Edit" asp-route-id="@item.UniqId2">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.UniqId2">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.UniqId2">Delete</a>
                            </td>
                        }
                        else
                        {
                            <td>
                                <a asp-action="Details" asp-route-id="@item.UniqId2">Details</a>
                            </td>
                        }

                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div page-info="@Model.PageNumberingInfo"page-classes-enabled="true"
         page-class="btn"
         page-class-normal="btn-outline-dark"
         page-class-selected="btn-primary"
        class="btn-group pull-right m-1"></div>
<br />
<br />
<br />